@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ul {
        @apply list-none;
    }
    body {
        @apply m-0 p-0 min-h-screen bg-white text-[--darkGrey];
        font-family: "Nunito", "Noto Sans Traditional Chinese", sans-serif;
    }
    a {
        @apply no-underline;
    }

    h1 {
        @apply text-6xl text-center w-full mb-[100px] max-lg:mb-14;
    }
    h2 {
        @apply text-4xl text-left mb-3;
    }
    h3 {
        @apply text-2xl text-left mb-2;
    }
    h4 {
        @apply text-xl text-left mb-2;
    }
    p {
        @apply text-left;
    }
}

@layer utilities {
    .hyperLink {
        @apply relative;
    }
    .hyperLink:link {
        @apply text-[--linkColor];
    }
    .hyperLink:visited,
    .hyperLink:hover {
        @apply text-[--linkActiveColor];
    }
    .hyperLink:hover:after {
        @apply left-0 w-[95%];
    }
    .hyperLink:after {
        @apply content-[""];
        @apply absolute bottom-0 left-[50%] h-[2px] w-0;
        @apply bg-[--linkActiveColor] transition-[--transition-all];
    }
    .main-container {
        @apply py-[100px] px-[50px] my-0 mx-auto;
        @apply w-[--breakpoint-lg] max-lg:w-[--breakpoint-sm] max-sm:w-full;
    }
}

:root {
    --darkBlack: rgb(43, 43, 43);
    --darkGrey: #6c757d;
    --lightGrey: #939393;
    --darkGreen: #799664;
    --lightGreen: #96bb7c;
    --linkColor: #86d7f7;
    --linkActiveColor: #9bddf7;
    --bgGrey: #f4f4f4;
    --breakpoint-lg: 992px;
    --breakpoint-sm: 768px;
    --transition-all: all 0.5s ease;
}
